@import url(https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap);
:root {
  --white-key-num: 15; }

body {
  background: #7d57ef;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #fff; }

.suenthi {
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  display: block;
  width: auto;
  max-width: 640px;
  position: relative; }

.branding {
  padding: 15px; }

.logo {
  font-size: 42px;
  font-family: 'Mrs Sheppards', cursive;
  color: white;
  margin-bottom: -10px; }

.info {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: white;
  margin-bottom: 10px; }

.controls {
  padding: 0 0 15px 0;
  font-size: 12px; }
  .controls__section {
    padding: 15px 40px; }
  .controls__label {
    margin-bottom: 5px; }
  .controls input[type='range'] {
    overflow: hidden;
    width: 150px;
    -webkit-appearance: none;
    background-color: #fff; }
  .controls input[type='range']::-webkit-slider-runnable-track {
    height: 15px;
    -webkit-appearance: none;
    color: #fff;
    margin-top: -1px;
    border-radius: 999px; }
    .controls input[type='range']::-webkit-slider-runnable-track #thumb {
      background: #43e5f7; }
  .controls input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 15px;
    cursor: pointer;
    background: #43e5f7;
    box-shadow: -80px 0 0 80px #43e5f7; }

.distortion {
  background: #8887ff; }

.lfo {
  background: #f1559b; }

.filter {
  background: #f155d1; }

.envelope {
  background: #da55f1; }

.oscillator {
  background: #b455f1; }

.keyboard {
  padding: 15px 15px 15px 69px;
  position: relative; }
  .keyboard__octave {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    display: flex;
    flex-direction: column; }
  .keyboard__keys {
    flex-grow: 1; }

.keys {
  display: flex; }
  .keys__key {
    width: 35px;
    height: 100px;
    min-height: 100px;
    border: 1px solid white;
    margin-left: 0px; }
    .keys__key:first-child {
      margin-left: 0; }
    .keys__key.is--black {
      background: white;
      margin-left: -11px;
      margin-right: -11px;
      height: 65px;
      min-height: 65px;
      width: 20px;
      z-index: 1; }
    .keys__key.is--pressed {
      background: rgba(204, 228, 255, 0.5); }

.octave__val {
  text-align: center;
  font-size: 12px; }

.octave button {
  font-size: 10px;
  background: none;
  border: 1px solid white;
  color: white;
  width: 39px;
  border-radius: 4px; }
